[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
requests = "*"
urlextract = "*"
metadata-parser = "*"
pinboard = "*"
click = "*"
mypy = "*"

[requires]
python_version = "3.7"
